In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Salariesteacehrs later in folder.csv")

In [ ]:
print("welcome to exclr")

welcome to exclr

In [ ]:
"hello"

'hello'

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
5**4

625

In [ ]:
5^4

1

In [ ]:
price=50.5
marks

80

In [ ]:
type(price)

float

In [ ]:
name="saieesh"
print(name,"is best person")

saieesh is best person

In [ ]:
dir(str)#magic methgod

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1="welcome to Data Science"
str1.capitalize()

'Welcome to data science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.isnumeric()

False

In [ ]:
str1.title()

'Welcome To Data Science'

In [ ]:
str1.split()

['welcome', 'to', 'Data', 'Science']

In [ ]:
str1.strip()

'welcome to Data Science'

In [ ]:
food="BiYrAnI"
name="SaIHG"
print(food.swapcase())
name.swapcase()

bIyRaNi

'sAihg'

In [ ]:
s1="my name is saieesh"
print(s1.split())
s2="karwar-karnataka-india"
s2.split("-")

['my', 'name', 'is', 'saieesh']

['karwar', 'karnataka', 'india']

In [ ]:
mail="naiksaieesh12@gmail.com"
mail.split("@")

['naiksaieesh12', 'gmail.com']

In [ ]:
s1.replace("saieesh","sahil")

'my name is sahil'

In [ ]:
s1

'my name is saieesh'

In [ ]:
'''
multiple
'''

'\nmultiple\n'

In [ ]:
city = "karwar"
city.count("a")

2

In [ ]:
name="ramesh "
name*3

'ramesh ramesh ramesh '

In [ ]:
n1=5
n1*5

25

In [ ]:
name="ramesh"
surname="naik"
name+" "+ surname

'ramesh naik'

In [ ]:
a=30
b=200
if a>b:
  print("a is greater")  
  print("in true block")
  c = a+b
  print(c)
else:
  print("perform the ultiplication")
  c = a*b 
  print(c,"is greater")

perform the ultiplication
6000 is greater

In [ ]:
salary = 25000
if(salary >20000):
  tax=0.25
  print("hello from true is")
else:
  tax=0.20
  print("hello form false")  
print("bye")  
net_sal = salary-tax*salary
print("net salsry",net_sal)

hello from true is
bye
net salsry 18750.0

In [ ]:
range(5,10)

range(5, 10)

In [ ]:
for number in range(5,10):
  print(number)
print("bye")

5
6
7
8
9
bye

In [ ]:
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(2,21,2):
   print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,11):
  if i==5:
    print("same")
    break
  else:
    print(i)

1
2
3
4
same

In [ ]:
for num  in range(11):
  print(num,num*num)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
for i in range(0,10):
  print(i-1)
for j in range(0,10):
  print(j-1)

-1
0
1
2
3
4
5
6
7
8
-1
0
1
2
3
4
5
6
7
8

In [ ]:
for i in range(1,30,5):
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="Science"
for letter in subject:
 print(letter)

S
c
i
e
n
c
e

In [ ]:
name="saieesh"
for i in range(1,5):
  print(name*i)

saieesh
saieeshsaieesh
saieeshsaieeshsaieesh
saieeshsaieeshsaieeshsaieesh

In [ ]:
movie="Drishyam"
for letter in movie:
  #print(letter)
#print(movie.upper())
#print(movie.lower()) 
#movie.swapcase() 
  print(letter.swapcase(),end="  ")

d  R  I  S  H  Y  A  M

In [ ]:
print("even number")
for i in range(1,11):
  if i%2==0:
   print(i)
   
print("odd number") 
for j in range(1,11):
 if j%2!=0:
  print(j)

even number
2
4
6
8
10
odd number
1
3
5
7
9

In [ ]:
status1=True
type(status1)

bool

In [ ]:
name="datascience"
for letter in name:
  print(letter*4,end=" ")

dddd aaaa tttt aaaa ssss cccc iiii eeee nnnn cccc eeee

In [ ]:
len("saieesh")

7

In [ ]:
marks = [40,45,48,48,2]
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
new_marks=sorted(marks)
new_marks

[2, 40, 45, 48, 48]

In [ ]:
marks

[40, 45, 48, 48, 2]

In [ ]:
marks.sort()
marks

[2, 40, 45, 48, 48]

In [ ]:
marks.reverse()

In [ ]:
marks

[48, 48, 45, 40, 2]

In [ ]:
marks.remove(2)

In [ ]:
marks

[48, 48, 45, 40]

In [ ]:
marks.pop()

40

In [ ]:
marks.pop()

45

In [ ]:
marks.pop()

48

In [ ]:
marks.pop()

48

In [ ]:
marks2=[42,85,80,78,70,60,55,40]

In [ ]:
marks2

[42, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
marks2.sort(reverse=True)

In [ ]:
marks2

[85, 80, 78, 70, 60, 55, 42, 40]

In [ ]:
marks2.sort(reverse=False)
marks2

[40, 42, 55, 60, 70, 78, 80, 85]

In [ ]:
55 in marks2

True

In [ ]:
88 in marks2

False

In [ ]:
list1=[10,20,30]
list2=[40,50,60]
list1+list2

[10, 20, 30, 40, 50, 60]

In [ ]:
list1*3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
list3=["mango","apple","banana","pineapple","custard apple","strawberry"]

In [ ]:
for fruits in list3:
  print(fruits.upper())
for fruits in list3:  
  print(fruits.lower())
  print(fruits.replace("u","a"))

MANGO
APPLE
BANANA
PINEAPPLE
CUSTARD APPLE
STRAWBERRY
mango
mango
apple
apple
banana
banana
pineapple
pineapple
custard apple
castard apple
strawberry
strawberry

In [ ]:
list3.count("banana")

1

In [ ]:
list3[5]

'strawberry'

In [ ]:
list3[-3]

'pineapple'

In [ ]:
 print(list3)

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [ ]:
list3[::2]

['mango', 'banana', 'custard apple']

In [ ]:
n1=list(range[1:31])

TypeError: ignored

In [ ]:
n1 = list(range(1,31))
print(n1,end="")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [ ]:
print(list3,end="")

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [ ]:
list3[::-1]

['strawberry', 'custard apple', 'pineapple', 'banana', 'apple', 'mango']

In [ ]:
'the' in 'nethearland'

True

In [ ]:
'therer' in 'therekjhdkjhj'

False

In [ ]:
list3

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [ ]:
list3.append("beryy")

In [ ]:
print(list3,end="")

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [ ]:
list3.remove("beryy")

In [ ]:
list3

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [ ]:
for fruits in list3:
  if "berry" in fruits:
    print(fruits)

strawberry

In [ ]:
for fruits in list3:
  if "pple" in fruits:
    print(fruits)

apple
pineapple
custard apple

In [ ]:
list3.append("black berry")

In [ ]:
list3.append("mul berry")

In [ ]:
list4=[]
list5=[]

for fruits in list3:
  if "berry" in fruits:
     list4.append(fruits)
  else:
   list5.append(fruits)

In [ ]:
list4

['strawberry', 'black berry', 'mul berry', 'mul berry', 'mul berry']

In [ ]:
list3

['mango',
 'apple',
 'banana',
 'pineapple',
 'custard apple',
 'strawberry',
 'black berry',
 'mul berry',
 'mul berry',
 'mul berry']

In [ ]:
list5

[]

In [ ]:
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2)

In [ ]:
l1

[2, 3, 4, 5, 6]

In [ ]:
l2

[4, 9, 16, 25, 36]

In [ ]:
l1=[2,4,6,8]
l2=[i**3 for i in l1]
print(l2,l1)

[8, 64, 216, 512] [2, 4, 6, 8]

In [ ]:
newlist=[fruits for fruits in list3 if 'berry' not in 'fruits']
print(newlist)

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry', 'black berry', 'mul berry', 'mul berry', 'mul berry']

In [ ]:
newlist

['mango',
 'apple',
 'banana',
 'pineapple',
 'custard apple',
 'strawberry',
 'black berry',
 'mul berry',
 'mul berry',
 'mul berry']

In [ ]:
fruits

'mul berry'

In [ ]:
list3.index(1)

ValueError: ignored

In [ ]:
list3[2] = "orange"
list3

['mango',
 'apple',
 'orange',
 'pineapple',
 'custard apple',
 'strawberry',
 'black berry',
 'mul berry',
 'mul berry',
 'mul berry']

In [ ]:
list3[2]

'orange'

In [ ]:
t1=(1,2,3,4,5)

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t2 = t1 + (6,7,8,9)

In [ ]:
t2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
dir(t2)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(1) # how many times 1 isa used

1

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
captial={"nepal":"kathmandu","italy":"rome","england":"london"}
print(captial)

{'nepal': 'kathmandu', 'italy': 'rome', 'england': 'london'}

In [ ]:
type(captial)

dict

In [ ]:
dir(captial)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
captial["england"]

'london'

In [ ]:
keys = captial.keys()

In [ ]:
keys

dict_keys(['nepal', 'italy', 'england'])

In [ ]:
values = captial.values()
values

dict_values(['kathmandu', 'rome', 'london'])

In [ ]:
items = captial.items()
items

dict_items([('nepal', 'kathmandu'), ('italy', 'rome'), ('england', 'london')])

In [ ]:
add={"india":"new dheli"}
captial.update(add)

In [ ]:
captial

{'nepal': 'kathmandu',
 'italy': 'rome',
 'england': 'london',
 'india': 'new dheli'}

In [ ]:
captial.update({"austraila":"sydney"})

In [ ]:
captial.pop("austraila")

'sydney'

In [ ]:
captial["india"]=("abc")

In [ ]:
captial

{'nepal': 'kathmandu',
 'italy': 'rome',
 'england': 'london',
 'india': 'newdheli'}

In [ ]:
captial["india"]=("newdheli")

In [ ]:
captial.popitem()

('india', 'newdheli')

In [ ]:
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [ ]:
mytuple=(20,53,45,78,89,65,97)

In [ ]:
mydict = {"a":mylist,"b":mytuple,"c":captial}

In [ ]:
mydict

{'a': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'b': (20, 53, 45, 78, 89, 65, 97),
 'c': {'nepal': 'kathmandu', 'italy': 'rome', 'england': 'london'}}

In [ ]:
mydict['a']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [ ]:
mydict["a"][3]

'Banana'

In [ ]:
sqrt(25)

NameError: ignored

In [ ]:
from math import *

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Cars.csv")

In [ ]:
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [ ]:
df.columns

Index(['HP', 'MPG', 'VOL', 'SP', 'WT'], dtype='object')

In [ ]:
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [ ]:
df.MPG>38

0      True
1      True
2      True
3      True
4      True
      ...
76    False
77    False
78    False
79    False
80    False
Name: MPG, Length: 81, dtype: bool

In [ ]:
d = df

In [ ]:
if data["MPG"]>38:
  print("hello")

ValueError: ignored

In [ ]:
dir(data)

['HP',
 'MPG',
 'SP',
 'T',
 'VOL',
 'WT',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [ ]:
data.sum()

HP     9515.000000
MPG    2788.188134
VOL    8000.000000
SP     9844.762047
WT     2625.418730
dtype: float64

In [ ]:
data.MPG

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [ ]:
data.MPG.sum()

2788.1881339699994

In [ ]:
data1 = data.MPG

In [ ]:
data1

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [ ]:
if 38 in data1:
  print(data1)

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [ ]:
data1

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [ ]:
data1.sum()

2788.1881339699994

In [ ]:
if (data1>38):
  print(data1)

ValueError: ignored

In [ ]:
data = data['MPG'] > 38

In [ ]:
data

0      True
1      True
2      True
3      True
4      True
      ...
76    False
77    False
78    False
79    False
80    False
Name: MPG, Length: 81, dtype: bool

In [ ]:
data2 = d[d['MPG']<40]

In [ ]:
data2

In [ ]:
data3 = data2.MPG.sum()

In [ ]:
data3

1874.7223358400004

In [ ]:
d.sum()

HP     9515.000000
MPG    2788.188134
VOL    8000.000000
SP     9844.762047
WT     2625.418730
dtype: float64

In [ ]:
d

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [ ]:
d.sum()

HP     9515.000000
MPG    2788.188134
VOL    8000.000000
SP     9844.762047
WT     2625.418730
dtype: float64

In [ ]:
sum = d.MPG.sum()

In [ ]:
probality1 = data3/sum

In [ ]:
probality1

0.6723801428602494

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
from scipy import stats

In [ ]:
from scipy.stats import norm

In [ ]:
#p(MPG<38)
stats.norm.cdf(38,loc=df.MPG.mean(),scale=df.MPG.std())

0.6524060748417286

In [ ]:
df.MPG.mean()

34.42207572802469

In [ ]:
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [ ]:
from math import *

In [ ]:
prob()

NameError: ignored

In [ ]:
dir(math)

NameError: ignored

In [ ]:
math()

NameError: ignored

In [ ]:
math

NameError: ignored

In [ ]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
from statistics import *

In [ ]:
import statistics
dir(statistics)

['Counter',
 'Decimal',
 'Fraction',
 'NormalDist',
 'StatisticsError',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_exact_ratio',
 '_fail_neg',
 '_find_lteq',
 '_find_rteq',
 '_isfinite',
 '_normal_dist_inv_cdf',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'erf',
 'exp',
 'fabs',
 'fmean',
 'fsum',
 'geometric_mean',
 'groupby',
 'harmonic_mean',
 'hypot',
 'itemgetter',
 'log',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'multimode',
 'numbers',
 'pstdev',
 'pvariance',
 'quantiles',
 'random',
 'sqrt',
 'stdev',
 'tau',
 'variance']

In [ ]:
df1 = df.MPG.sum()

In [ ]:
data1 = df[df['MPG'] >40]

In [ ]:
da2 = data1.MPG.sum()

In [ ]:
s1 = da2/df1

In [ ]:
s1

0.5089646660426068

In [ ]:
data1

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
5    70  45.696322   89  113.185353  29.591768
6    55  50.013401   92  105.461264  30.308480
7    62  46.716554   50  102.598513  15.847758
8    62  46.716554   50  102.598513  16.359484
9    80  42.299078   94  115.645204  30.920154
10   73  44.652834   89  111.185353  29.363341
13   73  44.652834   89  111.185353  29.378436
14   66  45.734893   89  108.185353  29.347279
15   73  44.652834   89  111.185353  29.604527
16   78  42.789909   91  114.369293  29.535784
18   78  42.789909   91  114.369293  29.929394
21   74  42.828479  107  110.840817  34.908211
23   81  40.474723   96  113.829145  31.837122
28   52  43.469434  104   99.564907  34.483207
65  165  40.050000   50  126.598513  15.712859

In [ ]:
65/80

0.8125

In [ ]:
data1.count()

HP     20
MPG    20
VOL    20
SP     20
WT     20
dtype: int64

In [ ]:
20/81

0.24691358024691357

In [ ]:
df.count()

HP     81
MPG    81
VOL    81
SP     81
WT     81
dtype: int64